<div class="row">
    {{#each stories}}
        <div class="col s12 s12 m6 l6 xl4">
            <div class="card index-card">
                <div>
                    {{#if user}}
                        <!--'cause we're inside "each" loop for stories, 'user' will refere to story.user
                    so to get to global user we use ../user
                    and lone id here refers to the story.id-->
                        {{{editIcon user.id ../user.id id}}}
                    {{/if}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p class="story-text">{{truncate (stripTags body) 150}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="Story author">
                        <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>

                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn grey"> Read more</a>
                </div>

            </div>
        </div>
    {{else}}
        <p>No public stories to show</p>
    {{/each}}
</div>